{% extends "base.twig" %}

{% block content %}
    <ul class="wiki-nav">
        {% if article %}
            {% if article.is_hidden %}
                <li class="wiki-nav-item-status"><i class="las la-eye-slash"></i></li>
            {% endif %}
            {% if article.is_locked %}
                <li class="wiki-nav-item-status"><i class="las la-lock"></i></li>
            {% endif %}
            {% if article.is_locked %}
                <li class="wiki-nav-item-disabled wiki-nav-splitter"><a href="/wiki/edit/{{ article.slug }}"><i class="las la-edit"></i> <span class="desktop-text">Edit</span></a></li>
            {% else %}
                <li class="wiki-nav-splitter"><a href="/wiki/edit/{{ article.slug }}"><i class="las la-edit"></i> <span class="desktop-text">Edit</span></a></li>
            {% endif %}
            <li><a href="/wiki/history/{{ article.slug }}"><i class="las la-history"></i> <span class="desktop-text">History</span></a></li>
        {% else %}
            <li><a href="/wiki/new/{{ slug }}"><i class="las la-file"></i> <span class="desktop-text">New</span></a></li>
            <li><a href="/upload"><i class="las la-upload"></i> <span class="desktop-text">Upload</span></a></li>
        {% endif %}
    </ul>
    <hr>
    {% if article %}
        <article class="wiki-article">
            <h1 class="wiki-article-title">Revision History: {{ article.title }}</h1>
            <hr>
            {% if revisions|length > 0 %}
                <ul>
                {% for revision in revisions %}
                    {% if revision.id == article.latest_revision %}
                        <li class="wiki-latest-revision">
                            <a href="/wiki/{{ article.slug }}">
                                <i class="las la-star"></i>
                                <span class="datetime">{{ revision.created_at }}</span>
                            </a> by <a href="/user/{{ revision.created_by_username }}">{{ revision.created_by_username }}</a>
                            {% if revision.reason %}({{ revision.reason }}){% endif %}
                        </li>
                    {% else %}
                        <li>
                            <a href="/wiki/{{ article.slug }}/revision/{{ revision.id }}">
                                <span class="datetime">{{ revision.created_at }}</span>
                            </a> by <a href="/user/{{ revision.created_by_username }}">{{ revision.created_by_username }}</a>
                            {% if revision.reason %}({{ revision.reason }}){% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        </article>
    {% endif %}
{% endblock %}
